$default-color: #ccc;
$primary: #ff6b81;
$primary-bold:#e91e63;
$border-radius :37rpx;
$text-color:#2c2f3b;
$secondary:#ff98a8;
$ashen:#f1f2f6;
$text-secondary-color:#999999;
$box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;