:root{
  --nut-primary-color:#ff6b81;
}
.at-tabs__item--active {
    color: $primary;
  }
  .at-tabs__item-underline,
  .at-search-bar__action {
    background-color: $primary;
  }
  .custom-avatar{
    height: 65rpx !important;
    width: 65rpx !important;
    border-radius: 50%;
  }
  .ellipsis-1{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 1;
    text-overflow: ellipsis;
  }
  .box-shadow{
    box-shadow: $box-shadow;
  }
  .roundness{
    border-radius: $border-radius;
    overflow: hidden;
  }
  .nut-button--plain.nut-button--primary {
    color: $primary !important;
    border-color: $primary !important;
  }
  .nut-button--primary{
    --nut-button-primary-background-color: #ff6b81 !important
  }